.head_cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 12vh;
    padding: 10px;
    column-gap: .7rem;
    row-gap: 1rem;
}

/*Nome do Site*/
.nome{
    display: none;
    align-items: center;
    justify-content: center;
}
.nome a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.8s;
}

/*Links e estrutura de navegação*/

.nav_list_1{
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 2rem;
}

.nav_link_1{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

.nav_link_1:hover{
    color: #05F2DB;
}

.nav_link_1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: #05F2DB;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.nav_link_1:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

/*Botão entrar*/

.btn_login {
    display: block;
}

.btn_sign{
    border: none;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.4s;
    margin-bottom: 5px;
}
.btn_sign a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}
.btn_sign:hover{
    background-color: transparent;
    border: solid;
    border-color: white;
}
.btn_sign:hover a{
    color: white;
}

.btn_log{
    border: solid;
    background-color: transparent;
    border-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.4s;
}
.btn_log a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.btn_log:hover{
    border: none;
    background-color: white;
}
.btn_log:hover a{
    color: #8e17bd;
}

/*Logo*/
.imagem_icone{
    display: flex;
    justify-content: center;
    align-content: center;
}
.icon{
    color: #05F2DB;
    font-size: 30px;
}

.menu_hamburguer {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
}

/* MediaQuery*/
@media (min-width: 720px) {
    .head_cabecalho {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1440px) {
    .nome {
        display: flex;
    }
}