.main_corpo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}

.main_content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.main_content_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
}
.main_content_text h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    color: white;
}
.main_content_text h2{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;

}
.main_content_text p{
    text-align: left;
    max-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}

.main_content img{
    width: 350px;
}

@media (min-width: 720px) {
    .main_content {
        flex-direction: row;
    }

    .main_content_text {
        width: 40%;
    }

    .main_content img {
        width: 380px;
    }
}

@media (min-width: 1440px) {
    .main_content img {
        width: 500px;
    }
}